<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="~/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="~/css/libs.bundle.css" />
    <link rel="stylesheet" href="~/css/all.css" />
    <link rel="stylesheet" href="~/css/theme.bundle.css" />
    <link rel="stylesheet" href="~/css/toastr.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/angular.js"></script>
    <script src="~/js/angular-route.js"></script>
    <script src="~/js/font-fontawesome.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/js/config1.js"></script>
    <script src="~/JsController/MyApp.js"></script>
    <title>@ViewData["Title"]</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light border-bottom py-0 fixed-top bg-white">
        <div class="container-fluid">
            <a class="navbar-brand d-flex justify-content-start align-items-center border-end" href="/">
                <div class="d-flex align-items-center">
                    <img src="~/images/favicon/favicon-32x32.png">
                    <span class="fw-black text-uppercase tracking-wide fs-6 lh-1">AP SHOP</span>
                </div>
            </a>
            <div class="d-flex justify-content-between align-items-center flex-grow-1 navbar-actions">
                <div class="d-flex align-items-center">
                    <div
                        class="menu-toggle cursor-pointer me-4 text-primary-hover transition-color disable-child-pointer">
                        <i class="ri-skip-back-mini-line ri-lg fold align-middle" data-bs-toggle="tooltip"
                            data-bs-placement="right" title="" data-bs-original-title="Close menu"
                            aria-label="Close menu"></i>
                        <i class="ri-skip-forward-mini-line ri-lg unfold align-middle" data-bs-toggle="tooltip"
                            data-bs-placement="right" title="" data-bs-original-title="Open Menu"
                            aria-label="Open Menu"></i>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="dropdown ms-1">
                        <button class="btn btn-link p-0 position-relative f-w-12 f-h-12 rounded-circle bg-primary-faded"
                            type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user fa-xl"></i>
                            <span
                                class="position-absolute bottom-0 start-75 p-1 bg-success border border-3 border-white rounded-circle">
                            </span>
                        </button>
                        <ul class="dropdown-menu dropdown-md dropdown-menu-end" aria-labelledby="profileDropdown">
                            <li class="d-flex py-2 align-items-start">
                                <div class="d-flex align-items-start justify-content-between flex-grow-1">
                                    <div>
                                        <p id="User_Name" class="lh-1 mb-2 fw-semibold text-body"></p>
                                        <p id="User_UserName" class="text-muted lh-1 mb-2 small"></p>
                                    </div>
                                    <small id="User_Role" class="badge rounded-pill"></small>
                                </div>
                            </li>
                            <li>
                                <button class="dropdown-item align-items-center" id="BtnLogOut" onclick="LogOut()">Đăng
                                    xuất</button>
                                <button class="dropdown-item align-items-center" id="BtnLogIn"
                                    onclick="location.href = '/Home/Login'">Đăng nhập</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main ng-app="shykeApp" id="main">
        <section class="container-fluid">
            <div class="card mb-4">
                @RenderBody()
            </div>
        </section>
    </main>

    <aside class="aside bg-white">
        <div class="simplebar-wrapper">
            <div data-pixr-simplebar>
                <div class="pb-6">
                    <ul class="list-unstyled mb-6">
                        <li class="menu-section mt-2">Admin control</li>
                        <li class="menu-item">
                            <a class="d-flex align-items-center" href="/Users">
                                <span class="menu-icon">
                                    <i class="fa-solid fa-users"></i>
                                </span>
                                <span class="menu-link">
                                    Quản lý tài khoản
                                </span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="d-flex align-items-center" href="/SanPhams">
                                <span class="menu-icon">
                                    <i class="fa-solid fa-shirt"></i>
                                </span>
                                <span class="menu-link">Quản lý sản phẩm</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="d-flex align-items-center" href="/DanhMucs">
                                <span class="menu-icon">
                                    <i class="fa-solid fa-list"></i>
                                </span>
                                <span class="menu-link">Quản lý danh mục</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    <script src="~/js/vendor.bundle.js"></script>
    <script src="~/js/theme.bundle.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("_notificationPartial")

</body>

</html>