@model SanPham;

@{
    ViewData["Title"] = "Chi Tiết sản phẩm";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row g-5">
    <div class="col-12 col-lg-7">
        <div class="row g-1">
            <div class="h-auto">
                <picture>
                    <img class="img-fluid d-table mx-auto" src="@Model.anhs.Img"
                        alt="Bootstrap 5 Template by Pixel Rocket" data-zoomable>
                </picture>
            </div>
        </div>
    </div>
    <!-- /Images Section-->

    <!-- Product Info Section-->
    <div class="col-12 col-lg-5">
        <div class="pt-3">
            <h1 class="mb-2 fs-2 fw-bold">@Model.Name</h1>
            <div class="d-flex justify-content-start align-items-center">
                <p class="lead fw-bolder m-0 fs-3 lh-1 text-danger me-2">
                    @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", Model.GiaGiamGia)
                </p>
            </div>
            <div class="border-top mt-4 mb-3">
                <div class="product-option">
                    <small class="text-uppercase d-block fw-bolder mb-2">
                        Size (UK) : <span class="selected-option fw-bold"></span>
                    </small>
                    <div class="form-group">
                        <select name="@Model.thuocTinhs" class="form-control" data-choices>
                            <option value="">Please Select Size</option>
                            <option value="Extra Small">XS</option>
                            <option value="Medium">M</option>
                            <option value="Large">L</option>
                            <option value="Extra Large">XL</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- /Product Options-->

            <!-- Add To Cart-->
            <div class="d-flex justify-content-between mt-3">
                <button class="btn btn-primary flex-grow-1 me-2 text-white">Thêm vào giỏ hàng</button>
            </div>
        </div>
    </div>
</div>