@{
    ViewData["Title"] = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card-header justify-content-between align-items-center d-flex">
    <h6 class="card-title m-0">Quản lý Sản phẩm</h6>
</div>
<div class="card-body">

    <!-- User listing Actions-->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="bg-light rounded px-3 py-1 flex-shrink-0 d-flex align-items-center">
            <input class="form-control border-0 bg-transparent px-0 py-2 fw-bolder" type="search" placeholder="Search"
                aria-label="Search" id="searchText">
        </div>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#MainModal"
                onclick="ThemSanPham()">
                Thêm
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table m-0 text-center table-bordered" id="MainTable">
            <thead>
                <tr>
                    <th>
                        Tên sản phẩm
                    </th>
                    <th>
                        Giá nhập
                    </th>
                    <th>
                        Giá bán
                    </th>
                    <th>
                        số lượng
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Hành động
                    </th>
                </tr>
            </thead>
            <tbody id="myTable">

            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="MainModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="MainModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded">
            <div class="modal-header">
                <h5 class="modal-title" id="MainModalLabel">Thêm sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="ID" />
                <div asp-action="AddImg" class="form-group" enctype="multipart/form-data">
                    <label for="imgItem" class="control-label">Ảnh sản phẩm</label>
                    <br>
                    <div class="w-100 text-center">
                        <img id="ImgView" class="bg-white img-fluid">
                    </div>
                    <input type="file" id="imgItem" class="form-control" onchange="UpdateImage()" hidden></input>
                    <button class="btn btn-primary w-100 rounded"
                        onclick="document.getElementById('imgItem').click()">Chọn ảnh</button>
                </div>
                <div class="form-group">
                    <label for="Name" class="control-label">Tên sản phẩm</label>
                    <input id="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="GiaGoc" class="control-label">Giá sản phẩm</label>
                    <input id="GiaGoc" class="form-control" value="0" type="number" min="0" max="10000000000" />
                </div>
                <div class="form-group">
                    <label for="GiaGiamGia" class="control-label">Giá bán</label>
                    <input id="GiaGiamGia" class="form-control" value="0" type="number" min="0" max="10000000000" />
                </div>
                <div class="form-group">
                    <label for="SoLuong" class="control-label">Số lượng</label>
                    <input id="SoLuong" class="form-control" value="0" type="number" min="0" max="10000" />
                </div>
                <div class="form-group">
                    <label for="MoTa" class="control-label">Mô tả</label>
                    <textarea id="MoTa" class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label for="TenThuocTinh" class="control-label">Thuộc tính</label>
                    <div class="d-flex">
                        <input type="text" id="TenThuocTinh" class="form-control" placeholder="Tên thuộc tính">
                        <button type="button" class="btn btn-primary ms-3" onclick="addThuocTinh()">Thêm</button>
                    </div>
                </div>

                <hr />
                <div id="ListThuocTinh" class="accordion">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="ThemThuocTinh" class="btn btn-primary display-none"
                    onclick="OnThemSanPham()">Thêm</button>
                <button type="button" id="SuaThuocTinh" class="btn btn-primary display-none"
                    onclick="OnSuaSanPham()">Lưu</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Sp.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}